.layout{
    .container {
        background-color: rgb(240, 242, 242);
        position: fixed;
        display: flex;
        //justify-content: space-evenly;
        top:0;
        width: 100%;
        bottom: 50px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        
    }
    
}
.layout .footer .button_list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}
.layout .footer .button-Monthly{
    position:relative;
    background-size: cover;
    background-image: url(./image/Bill.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 25px;
    margin-top: 5px;
    border: none;
    
}
.layout .footer .button_list .button-text{
    font-size:12px;
    font-family: 'XBKayhanRegular';
    width:65px;
    margin-left: 5px;
}
.layout .footer .button-Yearly{
    position:relative;
    background-size: cover;
    background-image: url(./image/Calculator.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 25px;
    margin-top: 5px;
    border: none;
}
.layout .footer .button-New{
    position:relative;
    background-size: cover;
    background-image: url(./image/Add.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 25px;
    margin-top: 5px;
    border: none;
}
.layout .footer .button-Monthly.active{
    background-image: url(./image/green_bill.png);
}
.layout .footer .button-New.active{
    background-image: url(./image/green_plus.jpg);
}
.layout .footer .button-Yearly.active{
    background-image: url(./image/green_calculator.jpg);
}

