.dayBillContainer{
    width: 100%;
    //height: 680px;
    display: flex;
    flex-direction: column;
    > .bills{
        height:70px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 3px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 1px;
        > .header{
            display: flex;
            justify-content: flex-start;
            gap: 15px;
            > .date{
                margin-top: 10px;
                margin-bottom:10px;
                font-family: 'Courier New', Courier, monospace;
                font-size: 16px;
                margin-left: 40px;
            }
            > .arrow{
                margin-top: 13px;
                margin-bottom:10px;
                height: 15px;
                width: 15px;
                background-image: url(./image/Down_Arrow.png);
                background-size: 15px;
                background-repeat: no-repeat;
                transition: transform 0.3s ease;
            }
            > .arrow.expand{
                //margin-top: 13px;
                margin-bottom:10px;
                height: 15px;
                width: 15px;
                
                transform: rotate(180deg) translateY(5px)
                
            }
        }
        > .MoneySummary{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        
            > .spent{
                display: flex;
                //flex-direction: column;
                justify-content: center;
                gap:5px;
                color:black;
                
                > .spent-amount{
                    color:red;
                }
            }
            > .income{
                display: flex;
                //flex-direction: column;
                justify-content: center;
                gap:5px;
                color: black;
                > .income-amount{
                    color: green;
                    font-size: 14px;
                }
            }
            > .Remain{
                display: flex;
                //flex-direction: column;
                justify-content: center;
                gap:5px;
                > .remain-title{
                    margin-top: 2px;
                    text-align: center;
                    color: gray;
                }
                > .remain-amount{
                    margin-left:10px;
                    font-weight: bold;
                    font-size:17px;
                }
            }
        }
    }
    > .detail{
        display: none;
    }
    > .detail.visible{
        display: flex;
        justify-content: space-between;
        vertical-align:baseline;
        background-color: white;
        border-radius: 3px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom:1px;
        gap: 240px;
        
        height: 40px;
        
        > .icon-usefor{
            color:black;
            //margin-top : 12px;
            //font-size:15px;
            display: flex;
            justify-content: center;
            margin-left:10px;
            margin-top:3px;
            > .usefor{
                margin-top : 8px;
                font-size:15px;
            }
            
        }
        > .money.income{
            margin-top : 12px;
            margin-right:10px;
            font-size: 15px;
            color:green;
        }
        > .money.pay{
            margin-top : 12px;
            margin-right:10px;
            font-size: 15px;
            color:red;
        }
    }
} 